@font-face {
  font-family: "Circular Std";
  src: url("./fonts/CircularStd-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "CircularStd-Black.otf", sans-serif;
}

body {
  color: rgb(173, 173, 173);
}

.left-column {
  background-color: black;
  width: 350px;
  padding-right: 2px;
  padding-left: 20px;
}

.center-column {
  background-color: #2e2e2e;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.right-column {
  background-color: black;
  min-width: 250px;
}

.main-content {
  height: 100vh;
}

.playlist {
  overflow-x: hidden;
  overflow-y: auto;
}

.menu > span {
  display: flex;
  align-items: center;
  column-gap: 13px;
  margin: 3px;
  font-weight: bold;
}

.playlist {
  padding-right: 25px;
  padding-top: 10px;
}

.menu {
  border-bottom: 1px solid;
  width: 93%;
}

.navbar a {
  font-family: "Circular Std Black", sans-serif;
}

.arrows i {
  height: 32px;
  width: 32px;
  background-color: rgb(30, 30, 30);
  margin: 0 10px 0 0;
  padding: 10px;
  border-radius: 100%;
}

.right-column {
  padding: 10px;
}

.activity-icons {
  column-gap: 10px;
  align-items: center;
}

.user {
  display: flex;
  margin-top: 30px;
  column-gap: 10px;
}

.user img {
  margin-top: 2px;
  width: 35px;
  border-radius: 50%;
  margin-bottom: auto;
}

.user div {
  display: flex;
  flex-direction: column;
}
.user > span {
  margin-left: auto;
}

.user-content {
  row-gap: 3px;
}

.user-content h4 {
  font-size: 16px;
}

.user-content span {
  font-size: 12px;
}

.user-title {
  column-gap: 30px;
}

.album-large-div {
  background: linear-gradient(9deg, rgba(0, 0, 0, 1) 51%, rgb(69, 69, 69) 100%);
  column-gap: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.album-large-div img {
  padding: 10px 0;
}

.album-large-div h1 {
  margin: 0;
  font-size: 55px;
}

#album-large-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.album-large-content {
  row-gap: 10px;
}
.album-large-content-buttons {
  column-gap: 20px;
}

.album-large-content-buttons button {
  border: none;
  padding: 10px 30px;
  border-radius: 40px;
  background-color: #1ed760;
}

.album-large-content-buttons button:nth-child(2) {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.album-small-div {
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.album-small-card {
  background-color: #454545;
  color: white;
}

.album-medium-div {
  color: white;
}

.album-medium-div-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.album-medium-div-title h3 {
  font-size: 25px;
}

.album-medium-div-title span:nth-child(2) {
  font-size: 15px;
  color: #c9c9c9;
}

.album-medium-card {
  background-color: #1c1c1c;
  color: white;
  /* height: 282px; */
}

.card-img-top {
  padding: 10px;
  border-radius: 15px;
}

svg path {
  fill: white;
}

.home-icon {
  width: 22px;
}

.search-icon {
  width: 22px;
}

.library-icon {
  width: 22px;
}

.fa,
.fas {
  color: white;
  font-size: 22px;
}

.arrows{
  column-gap: 6px;
    display: inline-flex;
    width: 80px;
}

.previous, .next{
  background-color: #1d1d1d;
  border-radius: 100%;
  padding: 9px;
}

.dropdown-toggle{
  background-color: #1d1d1d;
  border: none;
  border-radius: 20px;
}

@media screen and (max-width: 1350px) {
  .right-column {
    display: none !important;
  }
}
